# 1. Import Libraries

In [ ]:
import numpy as np # Numeric
import pandas as pd # table
from datetime import datetime # date 
import matplotlib.pyplot as plt # Visualization
import seaborn as sns # Visualization
import sklearn # ML
from forex_python.converter import CurrencyRates # CurrencyRates

# 2. Loading data

In [ ]:
# Import csv file
df = pd.read_csv("Data_Science_Fields_Salary_Categorization.csv")

# 3. Data Check

In [ ]:
# Get information
df.info()

In [ ]:
# Check header column
df.columns

In [ ]:
# Check first 10 data row
df.head(10)

In [ ]:
# Check for any missing values
df.isnull().sum()

# 4. Data Cleaning

In [ ]:
# Convert all column names to lowercase
df.columns = df.columns.str.lower()
df

In [ ]:
# Drop unused column
df = df.drop(columns=['unnamed: 0'])

In [ ]:
# Replace values in Designation
def title_job(title):
    if 'data scientist' in title.lower() or 'machine learning' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower() or 'analytic' in title.lower() or 'bi' in title.lower():
        return 'data analyst'
    else:
        return 'other'

df['job_role'] = df['designation'].apply(title_job)

df = df.drop(columns=['designation'])

In [ ]:
# Check unique value in Experience column
unique_experience = df['experience'].unique()
print(unique_experience)

In [ ]:
#  Replace values in experience-level column
df['experience'] = df['experience'].replace('EN', 'Entry-Level')
df['experience'] = df['experience'].replace('EX', 'Experienced')
df['experience'] = df['experience'].replace('MI', 'Mid-Level')
df['experience'] = df['experience'].replace('SE', 'Senior')

In [ ]:
# Check unique value in Employment_Status column
unique_employment_status = df['employment_status'].unique()
print(unique_employment_status)

In [ ]:
#Replace values in employment_type column
df['employment_status'] = df['employment_status'].replace('FT', 'Full-Time')
df['employment_status'] = df['employment_status'].replace('CT', 'Contractor')
df['employment_status'] = df['employment_status'].replace('FL', 'Freelancer')
df['employment_status'] = df['employment_status'].replace('PT', 'Part-Time')

In [ ]:
# Check unique value in company_size column
unique_company_size = df['company_size'].unique()
print(unique_company_size)

In [ ]:
#Replace values in Company size column
df['company_size'] = df['company_size'].replace('L', "Large")
df['company_size'] = df['company_size'].replace('M', "Medium")
df['company_size'] = df['company_size'].replace('S', "Small")

In [ ]:
# Create a CurrencyRates object
c = CurrencyRates()

# Convert salary from INR to THB
conversion_rate = c.convert('INR', 'THB', 1)  # Get conversion rate from 1 INR to THB

# Rename column
df.rename(columns={'salary_in_rupees': 'salary_in_THB'}, inplace=True)

# Convert salary values from INR to THB
df['salary_in_THB'] = df['salary_in_THB'] * conversion_rate

# Display the updated DataFrame
print(df)

In [ ]:
# Create work experience year column
current_year = datetime.now().year # Get the current year

df['work_experience'] = current_year - df['working_year'] # Calculate work experience

df.head(5)

# 4. Data Exploration

In [ ]:
df.describe()